<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Environments" type="CPS_TestBatch_Manager.Configuration.EnvironmentSettings, CPS_TestBatch_Manager"/>

    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CPS_TestBatch_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <Environments>
    <add Name="CAD"  EQInitInputFolder="\\fld6filer\2016-PostCollect\SIMULATED_FILERS\CADWZ-DAT01\EQ\EQ_NEW_TASK\" OutputFolder="\\F7CPA-SVC01\EqResponses\Miguel_Tests\NonTemplateResponses\" />
    <add Name="CAT" EQInitInputFolder="\\fld6filer\2016-PostCollect\SIMULATED_FILERS\CATWZ-DAT01\EQ\EQ_NEW_TASK\" OutputFolder="\\F7CPA-SVC01\EqResponses\Miguel_Tests\NonTemplateResponses\" />
    <add Name="CAS" EQInitInputFolder="\\CASWZ-DAT01\EQ\EQ_NEW_TASK\" OutputFolder="\\CASPA-SVC01\EqResponses\Miguel_Tests\NonTemplateResponses\" />
    <add Name="Local" EQInitInputFolder="\\C210626\Share\EQ_SIM\" OutputFolder="\\C210626\Share\EQ_SIM\ResponsesForFakeEQRSP" />
  </Environments>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  
  <userSettings>
    <CPS_TestBatch_Manager.Properties.Settings>
        <setting name="SelectedEnvironment" serializeAs="String">
            <value>CAT</value>
        </setting>
    </CPS_TestBatch_Manager.Properties.Settings>
  </userSettings>
</configuration>
